@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d1117;
}

.login{
    width: 360px;
    color: white;
    height: 55%;
    padding: 20px;
    border-radius: 12px;
    background-color: #161b22;
}

.login h1{
    font-size: 36px;
    margin-bottom: 15px;
}

.login form{
    font-size: 20px;
}

.login input[type="submit"] {
    font-size: 20px;
    margin-top: 15px;
}

.login form a{
    font-size: 15px;
    text-decoration: none;
}

.login form input[type="email"] {
    background-color: #0d1117;
    border: gray solid 0.5px;
}

.login form input[type="password"] {
    background-color: #0d1117;
    border: gray solid 0.5px;
}

.login img{
    height:18px;
}

.passForg{
    text-align: center;
    width: 70vh;
    color: white;
    height: 35%;
    padding: 20px;
    border-radius: 12px;
    background-color: #161b22;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.passForg form{
    font-size: 20px;
}

.passForg form input[type="email"] {
    background-color: #0d1117;
    border: gray solid 0.5px;
    margin-bottom: 10px;
}